<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>😊상품 목록(@MVC : JdbcDaoSupport)❤️</h3>
<table border="1">
	<th:block th:if="${datas.size > 0}"> <!-- 데이터가 있어야지 나오게 설정함 ${datas.size > 0} -->
	<tr>
		<th>코드</th><th>품명</th><th>수량</th><th>단가</th>
	</tr>
	<tr th:each="data:${datas}">
		<td th:text="${data.code}">코드 출력</td>
		<td>[[${data.sang}]]</td>
		<td>[[${data.su}]]</td>
		<td>[[${data.dan}]]</td>
	</tr>
	</th:block>
</table>
</body>
</html>