<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
** 자료 수정 **<p/>
<form th:action="@{/update}" method="post" th:object="${member}">
	id : [[*{id}]]
	<input type="hidden" name="id" th:field="*{id}"/><br> <!-- name="id"안써도되  -->
	pwd : <input type="text" name="passwd" th:field="*{passwd}" /><br>
	name : <input type="text" name="name" th:field="*{name}"/><br>
	<br>
	<input type="submit" value="수 정">
	<input type="button" value="이 전" onclick="history.back()">
</form>>
</body>
</html>