<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>홈 페이지</h2>
<div sec:authorize="isAuthenticated()">
	<strong sec:authentication="name"></strong>님 로그인 중...
	<a th:href="@{/user/logout}">로그아웃</a>
</div>

<div sec:authorize="!isAuthenticated()">
	로그인 상태가 아님<br/>
	<a th:href="@{/user/loginform}">로그인하러 가기</a>
</div>


<ul>
	<li><a th:href="@{/notice}">공지사항 보기(로그인 필요없음)</a></li>
	<li><a th:href="@{/play}">놀이터(로그인 필요)</a></li>
	<li><a th:href="@{/shop}">쇼핑하기(로그인 필요없음, 상품 구입시 로그인 필요)</a></li>
	<li><a th:href="@{/staff/user/list}">회원목록(Staff, admin 전용)</a></li>
	<li><a th:href="@{/admin/user/manage}">회원관리(admin 전용)</a></li>
</ul>
</body>
</html>